<div *ngIf="product">
    <h2>{{product.name}} details!</h2>
    <div><label>id: </label>{{product.id}}</div>
    <div><label>description: </label>{{product.description}}</div>
    <div><label>price: </label>{{product.price | currency:'USD':true}}</div>
    <div>
        <label>condition: </label>
        <span ngSwitch="{{product.condition}}">
                    <span *ngSwitchCase="'new'">Brand New!</span>
                    <span *ngSwitchCase="'used'">Mint!</span>
                    <span *ngSwitchCase="'discontinued'">Out of Stock!</span>
                </span>
    </div>
    <div><label>category: </label>{{product.category}}</div>
    <div>
        <label>name: </label>
        <input [(ngModel)]="product.name" placeholder="name"/>
    </div>
    <button class="btn btn-default" (click)="goBack()">Go back</button>
    <button class="btn btn-warning" (click)="save()">Save</button>
    <my-cart [currentProduct]="product"></my-cart>
</div>