<h2>My Products</h2>
<div class="create-product">
    <div class="row">
        <label for="product-name">Product name</label>
        <input type="text" #productName id="product-name" placeholder="Enter product name">
    </div>
    <div class="row">
        <label for="product-desc">Product description</label>
        <input type="text" #productDesc id="product-desc" placeholder="Enter product description"><br>
    </div>
    <div class="row">
        <label for="product-price">Product price</label>
        <input type="text" #productPrice id="product-price" placeholder="Enter product price"><br>
    </div>
    <div class="row">
        <label for="product-cond">Product condition</label>
        <select name="product-cond" id="product-cond" #productCond>
            <option value="new">Brand New!</option>
            <option value="used">Mint!</option>
            <option value="discontinued">Out of Stock!</option>
        </select>
    </div>
    <div class="row">
        <label for="product-cat">Product category</label>
        <input type="text" #productCat id="product-cat" placeholder="Enter product category"><br>
    </div>
    <div class="row">
        <button class="submit" (click)="
            createProduct(productName.value, productDesc.value, productPrice.value, productCond.value, productCat.value);
            productName.value = '';
            productDesc.value = '';
            productPrice.value = '';
            productCond.value = 'new';
            productCat.value = '';
        ">
            Add product
        </button>
    </div>
</div>
<ul class="products">
    <li *ngFor="let product of products"
        (click)="onSelect(product)"
        [class.selected]="product === selectedProduct">
        <span class="badge">{{product.id}}</span> {{product.name}}
        <button class="delete" (click)="deleteProduct(product); $event.stopPropagation();">x</button>
    </li>
</ul>

<div *ngIf="selectedProduct">
    <h2>
        {{selectedProduct.name | uppercase}} is my product
    </h2>
    <button (click)="gotoDetail()">View Detail</button>
</div>